<h1><center>Course Details</center></h1>

<p>Name: {{ course.name }}</p>
<p>ID: {{ course.courseID }}</p>
<p>Dept: {{ course.deptID }}</p>
<p>Room: {{ course.room }}</p>
<p>Professor Name: {{ prof.name }}</p>

<form action="/prof/addStudents/{{ course.courseID }}/">
    <input type="submit" value="Add Students"></input>
</form>

<!-- {% if prof %}
    <ul>
    {% for course in course_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
        <p>{{ course.name }}</p>
    {% endfor %}
    </ul>
{% else %}
    <p>No Courses</p>
{% endif %} -->