{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="panel-info">
	    <div class="panel-heading">
	    	<h1><center>Course Details</center></h1>

			<p>Name: {{ course.name }}</p>
			<p>ID: {{ course.courseID }}</p>
			<p>Dept: {{ course.deptID }}</p>
			<p>Room: {{ course.room }}</p>
			<p>Professor Name: {{ prof.name }}</p>
	      
	    </div>
	    <div class="panel-body">
	    	{% csrf_token %}
	    	<form action="/prof/addStudents/{{ course.courseID }},{{ course.year }}/">
			    <button type="submit" class="btn btn-primary">Add Students</button>
			</form>
	    </div>
	</div>
  </body>
</html>