<h1><center>Professor Home Page</center></h1>

<p>Name: {{ prof.name }}</p>
<p>ID: {{ prof.ID }}</p>
<p>Department: {{ prof.deptID }}</p>
<p>Email: {{ prof.email }}</p>

<h2>Courses</h2>
{% if course_list %}
    <ul>
    {% for course in course_list %}
        <li><a href="/prof/course/{{ course.courseID }}/">{{ course.name }}</a></li>
        <!-- <p>{{ course.name }}</p> -->
    {% endfor %}
    </ul>
{% else %}
    <p>No Courses</p>
{% endif %}

<form action="/prof/addCourse/">
    <input type="submit" value="Add Course"></input>
</form>