{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="panel-info">
	    <div class="panel-heading">
	    	<h1><center>View Queries</center></h1>
	    	<p>ProffesorID : {{profID}}</p>
	    </div>
	    <div class="panel-body">
	    	{% if query_list %}
			    <ul>
			    {% for query in query_list %}
			        <li>
			        	<form action="/prof/resolvequery/{{query.id}}">
				        	<p>
					        	Date : {{query.date|date:"M d, Y"}}<br>
					        	StudentID : {{query.studentID}}<br>
					        	CourseID : {{query.courseID}}<br>
					        	Query : {{query.query}}<br>
					        	Resolved : {{query.resolved}}<br>
					        <button type="submit" class="btn btn-primary">Resolve</button>
							</p>
						</form>
			        </li>
			    {% endfor %}
			    </ul>
			{% else %}
			    <p>No Queries</p>
			{% endif %}
	    </div>
	</div>
  </body>
</html>