appdirs==1.4.2
cloudinary==1.6.1
Django==1.10.5
django-appconf==1.0.2
django-avatar==3.1.0
django-crispy-forms==1.6.1
olefile==0.44
packaging==16.8
Pillow==4.0.0
psycopg2==2.6.2
PyMsgBox==1.0.3
pyparsing==2.1.10
requests==2.13.0
six==1.10.0
urllib3==1.26.5
