{% extends "profbase.html" %}
{% block content %}
<div class="w3-main" style="margin-left:340px;margin-right:40px">
	<h1><center>Course Details</center></h1>
			<p style="text-align: center;">Name: {{ course.name }}</p>
			<p style="text-align: center;">ID: {{ course.courseID }}</p>
			<p style="text-align: center;">Dept: {{ course.deptID }}</p>
			<p style="text-align: center;">Room: {{ course.room }}</p>
			<p style="text-align: center;">Professor Name: {{ prof.name }}</p>
	<div class="panel-body">
			<h2 style="text-align: center;">Students Enrolled</h2>
			{% if studentList %}
			    <ul style="overflow: hidden;">
			    {% for student in studentList %}
			        <li style="width: 10%; float: left; margin: 0 2% 6% 0; display: block; position: relative;"><a href="/attendance/history/{{course.courseID}},{{ student.student_id }},{{course.year}}">{{ student.student_id }}</a></li>
			    {% endfor %}
			    </ul>
			{% else %}
			    <p>No Students</p>
			{% endif %}
	    	{% csrf_token %}
	    	<br>
	    	<form action="/prof/addStudents/{{ course.courseID }},{{ course.year }}/">
			    <button type="submit" class="btn btn-primary">Add Students</button>
			</form>		
	    
		</div>
		<div class="panel-body">
			<form action="/prof/uploadPhoto/{{ course.courseID }},{{ course.year }}/">
			    <button type="submit" class="btn btn-primary">Upload class photo</button>
			</form>
		</div>
		<div class="panel-body">
			<button><a href="/attendance/summary/course?courseID={{ course.courseID }}&year={{ course.year }}" class="btn btn-primary">Get Course Summary</a></button>
    </div>
</div>
{% endblock %}