{% extends "profbase.html" %}
{% block content %}
	<div class="w3-main" style="margin-left: 340px;margin-right: 40px">
        <h1 style="font-size: 300%;"><center>Attendance Summary</center></h1>
		<p style="font-size: 120%; text-align: center;">CourseID: <b>{{ courseID }}</b><br>Year: <b>{{ year }}</b><br>Classes Taken: <b>{{ summary.classes }}</b></p>
      
      <div class="panel-body" style="float: left;margin-left: 25%; margin-top: 4%">
      		<table>
				<caption><b>Summary<b></caption>          	
				<tr>
					<th><b><u>Date</u></b></th>
				    <th><b><u>Present</u></b></th>
				    <th><b><u>Absent</u></b></th>
				</tr>
				{% if summary.datewise%}
					{% for datewiseatt in summary.datewise %}
					    <tr>
					        <td>
					        	<form name="dateform" method="post" action="/attendance/summary/datewise/">
						      		{% csrf_token %}
						      		<input type="hidden" name="date" value="{{datewiseatt.date|date:'Y-m-d'}}">
						      		<input type="hidden" name="courseID" value="{{ courseID }}">
						      		<input type="hidden" name="year" value="{{ year }}">
						      		<input type="submit" value="{{datewiseatt.date|date:'M d, Y'}}" id="mydate">
						      	</form>
					        </td>
					        <td>{{datewiseatt.count_present}}</td>
					        <td>{{datewiseatt.count_absent}}</td>
					    </tr>
					{% endfor %}
				{% else %}
					<tr>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
					</tr>
				{% endif %}
			</table>
      </div>
      <div class="panel-body" style="margin-left: 50%; margin-top: 5%">
      	<h3>Datewise Attendance Summary</h3>
      	<form method="post" action="/attendance/summary/datewise/">
      		{% csrf_token %}
      		Date: <input type="date" name="date" id="formdate">
      		<input type="hidden" name="courseID" value="{{ courseID }}">
      		<input type="hidden" name="year" value="{{ year }}">
      		<p></p>
      		<button type="submit" style="width: 25%">Get Summary</button>
      	</form>
      </div>
	</div>
{% endblock %}