{% extends "profbase.html" %}
{% block content %}
	<div class="w3-main" style="margin-left: 340px;margin-right: 40px">
        <h1><center>Attendance Summary</center></h1>
		<p style="text-align: center;">CourseID: <b>{{ courseID }}</b><br>Year: <b>{{ year }}</b><br>Classes Taken: <b>{{ summary.classes }}</b></p>
      
      <div class="panel-body" style="float: left;">
      		<table>
				<caption><b>Summary<b></caption>          	
				<tr>
					<th><b><u>Date</u></b></th>
				    <th><b><u>Present</u></b></th>
				    <th><b><u>Absent</u></b></th>
				</tr>
				{% for datewiseatt in summary.datewise %}
				    <tr>
				        <td>
				        	<form name="dateform" method="post" action="/attendance/summary/datewise/">
					      		{% csrf_token %}
					      		<input type="hidden" name="date" value="{{datewiseatt.date|date:'Y-m-d'}}">
					      		<input type="hidden" name="courseID" value="{{ courseID }}">
					      		<input type="hidden" name="year" value="{{ year }}">
					      		<input type="submit" value="{{datewiseatt.date|date:'M d, Y'}}" id="mydate">
					      	</form>
				        </td>
				        <td>{{datewiseatt.count_present}}</td>
				        <td>{{datewiseatt.count_absent}}</td>
				    </tr>
				{% endfor %}
			</table>
      </div>
      <div class="panel-body">
      	<h4>Datewise Attendance Summary</h4>
      	<form method="post" action="/attendance/summary/datewise/">
      		{% csrf_token %}
      		Date: <input type="date" name="date">
      		<input type="hidden" name="courseID" value="{{ courseID }}">
      		<input type="hidden" name="year" value="{{ year }}">
      		<button type="submit">Get Summary</button>
      	</form>
      </div>
	</div>
{% endblock %}