{% extends "profbase.html" %}
{% block content %}
	<div class="w3-main" style="margin-left: 340px;margin-right: 40px">

        <h1 style="font-size: 300%"><center>Attendance Summary</center></h1>
		<p style="text-align: center;font-size: 120%">CourseID: <b>{{ courseID }}</b><br>Year: <b>{{ year }}</b></p>

      	<h3><center><strong>Date: {{coursedate|date:"M d, Y"}}</strong></center></h3>
      <div class="panel-body" style="float: left; margin-left: 18%;margin-top: 3%;">
      		<table>
					<caption><b>Present<b></caption>  
					<tr>
					    <th><b><u>Student ID</u></b></th>
					</tr>
      		{% if summary.present %}
				    {% for att in summary.present %}
				    <tr>
				        <td>
				        	<a href="/attendance/history/{{courseID}},{{att.studentID}},{{year}}">{{att.studentID}}</a>
				        </td>
				    </tr>
				    {% endfor %}    
				</table>
			{% else %}
				<tr>
					<td>&nbsp</td>
				</tr>
			{% endif %}			
      </div>
      <div class="panel-body" style="float: left; margin-left: 20%;margin-top: 3%;">
      		<table>
				<caption><b>Summary<b></caption>          	
				<tr>
				    <th><b><u>Attendance</u></b></th>
				    <th><b><u>Count</u></b></th>
				</tr>
			    <tr>
			        <td>Present</td>
			        <td>{{summary.count_present}}</td>
			    </tr>
			    <tr>
			        <td>Absent</td>
			        <td>{{summary.count_absent}}</td>
			    </tr>
			    <tr>
			        <td>Total</td>
			        <td>{{summary.total}}</td>
			    </tr>   
			</table>
      </div>
      <div class="panel-body" style="float: left; margin-left: 20%;margin-top: 3%;">
      		<table>
					<caption><b>Absent<b></caption>  
					<tr>
					    <th><b><u>Student ID</u></b></th>
					</tr>
      		{% if summary.absent %}
				    {% for att in summary.absent %}
				    <tr>
				        <td>
				        	<a href="/attendance/history/{{courseID}},{{att.studentID}},{{year}}">{{att.studentID}}</a>
				        </td>
				    </tr>
				    {% endfor %}    
				</table>
			{% else %}
				<tr>
					<td>&nbsp</td>
				</tr>
			{% endif %}			
      </div>
    </div>
{% endblock %}