{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="panel-info">
      <div class="panel-heading">
        <h1><center>Attendance History</center></h1>
		<p>CourseID: <b>{{ courseID }}</b><br>Year: <b>{{ year }}</b><br>StudentID: <b>{{ studentID }}</b></p>
      </div>
      <div class="panel-body">
          	<table style="width: 100%">
				<tr>
				    <th><b><u>Date</u></b></th>
				    <th><b><u>Present</u></b></th>
				    <th><b><u>Image Url</u></b></th>
				</tr>

				{% if attendance_list %}
				    {% for att in attendance_list %}
				    <tr>
				        <td>{{att.date|date:"M d, Y"}}</td>
				        <td>{{att.present}}</td>
				        {% if att.present %}
				        <td><a href="/attendance/showImage/{{att.id}}">Click Here</a></td>
				        {% else %}
				        <td>No Link</td>
				    	{% endif %}
				    </tr>
				    {% endfor %}    
				{% else %}
				    <p>No History</p>
				{% endif %}
			</table>
      </div>
    </div>
  </body>
</html>