{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="panel-info">
      <div class="panel-heading">
        <p><h1><center id="head">{{header}}</center><br></h1></p>
      </div>
      <div class="panel-body" style="width:30%">
          <form method="post" class="uniForm" >
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <br>
          <p id="new"><a href='add/'>New User?</a></p>
          <p id="forgot"><a href='forgot/'>Forgot Password?</a></p>
      </div>
    </div>
    <script type="text/javascript">
      var type = document.getElementById("head").innerHTML;
      console.log(type)
      if(type == "Login"){
        document.getElementById("new").style.visibility = "visible"
        document.getElementById("forgot").style.visibility = "visible"
      }
      else{
        document.getElementById("new").style.visibility = "hidden"
        document.getElementById("forgot").style.visibility = "hidden" 
      }
    </script>
  </body>
</html>