{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href="{% static 'login/style.css' %}" rel="stylesheet">
<meta charset="UTF-8">

<title>Forgot Password</title>
</head>

<body>

<div class="transbox">
    <p style="text-align: center; color: #ffffff; font-size: 300%;">Attendance System</p>
</div>
<div class="login-block">
    <h1>Forgot Password</h1>
    <form method="post" action="/login/forgot/">
        {% csrf_token %}
        <input type="text" value="" placeholder="Enter Your Email" id="email" name="email"/>
        <input type="password" value="" placeholder="Password" id="password" name="password"/>
        <button type="submit">Submit</button>&nbsp;
    </form>
</div>
</body>

</html>