{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href="{% static 'login/style.css' %}" rel="stylesheet">
<meta charset="UTF-8">
<style>
button {
    width: 15%;
    height: 40px;
    background:#ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #c9cacc;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
  }

  button:hover {
    background:white;
    color: black;
    border-radius: 5px;
    border: 1px solid #008080;
  }
</style>
<title>Forgot Password</title>
</head>

<body>
<div>
	<form method="get" action="/administrator/"><button type="submit" style="width: 10%;margin-left: 85%">Home</button></form>
</div>
<div class="transbox">
    <p style="text-align: center; color: #ffffff; font-size: 300%;">Attendance System</p>
</div>
<div class="login-block">
    <h1>Forgot Password</h1>
    <form method="post" action="/login/forgot/">
        {% csrf_token %}
        <input type="text" value="" placeholder="Enter Your Email" id="email" name="email"/>
        <input type="password" value="" placeholder="New Password" id="password" name="password"/>
        <button type="submit">Submit</button>&nbsp;
    </form>
</div>
</body>

</html>