body {
    background-color: #008080;
    font-family: Montserrat;
}

div.transbox {
  margin: 30px;
  background-color: #008080;
  opacity: 0.6;
}

.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #ff656c;
    margin: 0 auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#username {
    background: #fff url('./u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #fff url('./u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('./Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff url('./Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #ff7b81;
}

.login-block input#name {
    background: #fff url('./u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#email {
    background: #fff url('./email2.png') 30px top no-repeat;
    background-size: 25px 25px;
    background-position: 15px;
}

.login-block input#deptID {
    background: #fff url('./dept.png') 30px top no-repeat;
    background-size: 18px 18px;
    background-position: 20px;
}

.login-block input#password {
    background: #fff url('./Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#uniqueID {
    background: #fff url('./id.png') 20px top no-repeat;
    background-size: 25px 22px;
    background-position: 15px 10px;
}

#myselect:not([multiple]){
    -moz-appearance:none;
    background-color: white;
    border-color: #ff656c;
    padding: .5em;
    padding-right:1.5em;
    border-radius:0;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}