{% extends "profbase.html" %}
{% block content %}
<div class="w3-main" style="margin-left:340px;margin-right:40px; text-align: center;">
        <h1 style="font-size: 300%"><center>Check Attendance</center></h1>
		<p style="text-align: center;font-size: 120%">CourseID: <b>{{ courseID }}</b><br>Date: <b>{{ date }}</b></p>
      </div>
      <div class="panel-body" style="margin-left: 20%;">
          	<table>
				<tr>
					<th><b>Profile Pic</b></th>
				    <th><b>StudentId</b></th>
				    <th><b>Present</b></th>
				    <th><b>Image Url</b></th>
				    <th><b>Revert</b></th>
				</tr>

				{% if attendanceList %}
				    {% for att,dp in attendanceList %}
				    <tr>
				    	<td><img src="{{dp}}" width="95" height="95"></td>
				        <td>{{att.studentID}}</td>
				        <td>{{att.present}}</td>
				        {% if att.present %}
				        <td><a href="/attendance/showImage/{{att.id}}" target="_blank">Click Here</a></td>
				        {% else %}
				        <td>No Link</td>
				    	{% endif %}
				    	<td>
				    		<form method="post" action="/photo/change_attendance/">
					      		{% csrf_token %}
					      		<input type="hidden" name="attID" value="{{ att.id }}">
					      		<input type="submit" value="Change" id="mydate">
					      	</form>
				    	</td>
				    </tr>
				    {% endfor %}    
				{% else %}
				    <tr>
				    	<td>&nbsp</td>
				    	<td>&nbsp</td>
				    	<td>&nbsp</td>
				    	<td>&nbsp</td>
				    	<td>&nbsp</td>
				    </tr>
				{% endif %}
			</table>
      </div>
      <div class="panel-body" style="margin-left: 20%;">
      		<form action="/photo/finalise_attendance/" method="post">
      			{% csrf_token %}
      			<input type="hidden" name="courseID" value="{{ courseID }}">
				<input type="hidden" name="year" value="{{ info1 }}">
				<p></p>
      			<button type="submit">Finalise</button>
      		</form>
      </div>
    </div>
 
{% endblock %}