{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="panel-info">
      <div class ="panel-heading">
        <p><h1><center>Class Upload<center></h1></p>
      </div>
      <div class="panel-body">
          	<form action="upload" enctype="multipart/form-data" method="post" class="uniForm" style="width: 30%">
			    {% csrf_token %}
			    {{ form|crispy }}
			    <button type="submit" class="btn btn-primary">Upload</button>
			</form>
      </div>
    </div>
  </body>
</html>