{% extends "studentbase.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="w3-main" style="margin-left:340px;margin-right:40px; text-align: center;">
  <div class="panel-info">
      <div class="panel-heading">
        <h1><center>Student Photos</center></h1>
		
      </div>
      <div class="panel-body">
          	<table style="width: 60%;margin-left:20%">
				{% if data or pend_data%}
				<tr>
				    <th><b><u>Photo</u></b></th>
				    <th><b><u>Action</u></b></th>

				    {% for i,j in pend_data %}
				    <tr>
				        <td><img src="http://res.cloudinary.com/proxy/image/upload/{{i}}/{{j}}"  style="width:20%;height:20%;"></td>
				        <td>Pending Approval       	
				        	
			    		</td>			        
				    </tr>	
				    {% endfor %}			    

				
				    {% for i,j in data %}
				    <tr>
				        <td><img src="http://res.cloudinary.com/proxy/image/upload/{{i}}/{{j}}"  style="width:20%;height:20%;"></td>
				        <td><a href="/student/deletephoto/{{i}},{{j}}">Delete</a>        	
				        	
			    		</td>			        
				    </tr>
				    {% endfor %}    
				{% else %}
				    <h3>No Images Available right now</h3>
				{% endif %}
				{% csrf_token %}
			</table>
      </div>
    </div>
</div>
{% endblock %}