{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="panel-info">
      <div class="panel-heading">
        <h1><center>Student Photos</center></h1>
		<p>StudentID: <b>{{ studentID }}</b></p>
      </div>
      <div class="panel-body">
          	<table style="width: 60%;margin-left:20%">
				{% if data %}
				<tr>
				    <th><b><u>Photo</u></b></th>
				    <th><b><u>Action</u></b></th>				    

				
				    {% for i,j in data %}
				    <tr>
				        <td><img src="http://res.cloudinary.com/proxy/image/upload/{{i}}/{{j}}"  style="width:20%;height:20%;"></td>
				        <td><a href="/student/deletephoto/{{i}},{{j}}">Delete</a>        	
				        	
			    		</td>			        
				    </tr>
				    {% endfor %}    
				{% else %}
				    <h3>No Images Available right now</h3>
				{% endif %}
				{% csrf_token %}
			</table>
      </div>
    </div>
  </body>
</html>