{% extends "studentbase.html" %}
{% block content %}
<div class="w3-main" style="margin-left:340px;margin-right:40px">
  <div class="panel-body" style="position: absolute; width: 300px; height: 200px; z-index: 15; top: 20%; left: 60%; margin: -100px 0 0 -150px;background: #c9cacc; text-align: center;">
    <h2 style="font-size: 300%;">My Courses</h2>
    {% if course_list %}
        <ul style="text-align: center;">
        {% for course in course_list %}
            <li><a href="/attendance/history/{{ course.course_id }},{{ student.ID }},{{course.year}}/">{{ course.course_id }}</a></li>
            <!-- <p>{{ course.name }}</p> -->
        {% endfor %}
        </ul>
    {% else %}
        <p>No Courses</p>
    {% endif %}
    {% csrf_token %}
  </div>
  <!-- End page content -->
</div>
{% endblock %}