{% extends "studentbase.html" %}
{% block content %}
<div class="w3-main" style="margin-left:340px;margin-right:40px">
	<h1><center>View Queries</center></h1>
	<p style="text-align: center;">StudentID : {{student.ID}}</p>
	<div class="panel-body" style="text-align: center;">
		{% if query_list %}
		    <ul>
		    {% for query in query_list %}
		    		{% if query.resolved %}
		        <li style="background-color:#51ad6a">
		        	<p style="font-weight: bold;">
			        	Date : {{query.date|date:"M d, Y"}}<br>
			        	CourseID : {{query.courseID}}<br>
			        	Query : {{query.query}}<br>
			        	Resolved : {{query.resolved}}<br>
		        	</p>
		        </li>
		        {% else %}
		        <li style="background-color:#b2806e">
		        	<p style="font-weight: bold;">
			        	Date : {{query.date|date:"M d, Y"}}<br>
			        	CourseID : {{query.courseID}}<br>
			        	Query : {{query.query}}<br>
			        	Resolved : {{query.resolved}}<br>
		        	</p>
		        </li>
		        {% endif %}
		    {% endfor %}
		    </ul>
		{% else %}
		    <p>No Queries</p>
		{% endif %}
	</div>
</div>
{% endblock %}